nav.navbar.navbar-default.navbar-static-top(role="navigation")
	div.navbar-header
		a.navbar-brand(href="#") Study

	ul.nav.navbar-nav
		li#nav-home
			a(href=username) Home
		li#nav-profile.disabled
			a(href="#") Profile 
		li#nav-calendar.disabled
			a(href="#") Calendar
		li#nav-explore.disabled
			a(href="#") Explore 

	ul.nav.navbar-nav.navbar-right
		li#nav-username
			a(href="#" class="navbar-link")= user.username 
		li#nav-logout
			a(href="/logout") Logout

