append head
  link(rel="stylesheet", href="/stylesheets/deck-edit.css")

append content
  #content
    #flashcard-editor
      #content-left(ng-if="visible.stats == false")
        span(ng-bind="session.index + 1") 
        / 
        span(ng-bind="deck.flashcards.length")
      #content-center
        #flashcard(ng-if="visible.stats == false")
          .term
            .text(ng-bind="deck.flashcards[session.index].term_text" spellcheck="false" ng-show="visible.term == true")
          .definition
            //-.media.media-halfsize
              //-.upload-form
                //-button.btn-browse.btn.btn-primary(type="button" data-target="definition") Browse
              //-.upload-progress
                //-.percentd
                //-.MB
              //-canvas.media-canvas

            .text(ng-bind="deck.flashcards[session.index].definition_text" spellcheck="false" ng-show="visible.definition == true")
          .answer-bar.btn-group
            button#btn-wrong.btn.btn-default(type="button" ng-click="answer(false)" ng-show="visible.answerButtons == true") Wrong
            button#btn-turn.btn.btn-default(type="button" ng-click="showAll()" ng-show="visible.answerButtons != true") Turn
            button#btn-right.btn.btn-default(type="button" ng-click="answer(true)" ng-show="visible.answerButtons == true") Right
        #stats(ng-if="visible.stats == true")
          p
            | Cards: 
            span(ng-bind="deck.flashcards.length")
          p
            | Correct answers: 
            span(ng-bind="session.stats.correct.percentage")
            |%
          p
            | Wrong answers: 
            span(ng-bind="session.stats.wrong.percentage")
            |%

            
      #content-right(ng-if="visible.stats == false")
        #study-options
          div
            | Study order: 
            .btn-group
              a#dropdownMenu(href="#" class="dropdown-toggle" data-toggle="dropdown")
                | {{stringifyFlashcardOrder(deck.flashcard_order_id)}}
                span.caret
              ul.dropdown-menu(role="menu")
                li(role="presentation" ng-repeat="order in flashcardOrders")
                  a(role="menuitem" href="#" ng-bind="order" ng-click="setFlashcardOrder($index + 1)") 
          div 
            | Show first:
            .btn-group
              a#dropdownMenu(href="#" class="dropdown-toggle" data-toggle="dropdown")
                | {{session.options.showFirst}}
                span.caret
              ul.dropdown-menu(role="menu")
                li(role="presentation")
                  a(role="menuitem" href="#" ng-click="showFirst('Term')") Term 
                  a(role="menuitem" href="#" ng-click="showFirst('Definition')") Definition
                  a(role="menuitem" href="#" ng-click="showFirst('Random')") Random
                  a(role="menuitem" href="#" ng-click="showFirst('Both')") Both

          input(type="radio" name="quantity" id="fixed" ng-checked="session.options.method == StudyMethods.CLASSIC" ng-model="session.options.method" ng-value="StudyMethods.CLASSIC")
          label(for="fixed") Qt:
            input.tiny-input(type="number" min="1" ng-max="{{deck.flashcards.length}}" ng-model="session.options.quantity")
          br
          input(type="radio" name="quantity" id="get-100" ng-checked="session.options.method == StudyMethods.GET100" ng-model="session.options.method" ng-value="StudyMethods.GET100")
          label(for="get-100") Get 100%
          div(ng-show="session.options.method == StudyMethods.GET100") 
            | Learn
            input.tiny-input(type="number" id="subdeck-size" ng-model="session.options.subdeckSize")
            | by 
            span(ng-bind="session.options.subdeckSize")

        #flashcard-info 

