append head
  link(rel="stylesheet", href="/stylesheets/deck-edit.css")

append content
  #content
    #flashcard-editor
      #content-left(ng-if="visible.stats == false")
        span(ng-bind="deck.active + 1") 
        / 
        span(ng-bind="deck.flashcards.length")
      #content-center
        #flashcard(ng-if="visible.stats == false")
          .term
            .text(ng-bind="deck.flashcards[deck.active].term_text" spellcheck="false" ng-show="visible.term == true")
          .definition
            //-.media.media-halfsize
              //-.upload-form
                //-button.btn-browse.btn.btn-primary(type="button" data-target="definition") Browse
              //-.upload-progress
                //-.percentd
                //-.MB
              //-canvas.media-canvas

            .text(ng-bind="deck.flashcards[deck.active].definition_text" spellcheck="false" ng-show="visible.definition == true")
          .answer-bar.btn-group
            button#btn-wrong.btn.btn-default(type="button" ng-click="answer(false)" ng-show="visible.answerButtons == true") Wrong
            button#btn-turn.btn.btn-default(type="button" ng-click="displayAll()" ng-show="visible.answerButtons != true") Turn
            button#btn-right.btn.btn-default(type="button" ng-click="answer(true)" ng-show="visible.answerButtons == true") Right
        #stats(ng-if="visible.stats == true")
          p
            | Cards: 
            span(ng-bind="deck.flashcards.length")
          p
            | Correct answers: 
            span(ng-bind="stats.correct.percentage")
            |%
          p
            | Wrong answers: 
            span(ng-bind="stats.wrong.percentage")
            |%

            
      #content-right(ng-if="visible.stats == false")
        #study-options
          input(type="radio" ng-model="studyOpt.showFirst" name="show-first" id="term" value="term")
          label(for="term") Term
          br
          input(type="radio" ng-model="studyOpt.showFirst" name="show-first" id="definition" value="definition")
          label(for="definition") Definition
          br
          input(type="radio" ng-model="studyOpt.showFirst" name="show-first" id="random" value="random")
          label(for="random") Random
          br
          input(type="radio" ng-model="studyOpt.showFirst" name="show-first" id="both" value="both")
          label(for="both") Both
          br
        #flashcard-info 

