append head
  link(rel="stylesheet", href="/stylesheets/deck-edit.css")

append content
  #content
    #flashcard-editor
      #content-left(ng-if="visible.stats == false")
        span(ng-bind="deck.active + 1") 
        / 
        span(ng-bind="deck.flashcards.length")
      #content-center
        #flashcard(ng-if="visible.stats == false")
          .term
            .text(ng-bind="deck.flashcards[deck.active].term_text" spellcheck="false" ng-show="visible.term == true")
          .definition
            //-.media.media-halfsize
              //-.upload-form
                //-button.btn-browse.btn.btn-primary(type="button" data-target="definition") Browse
              //-.upload-progress
                //-.percentd
                //-.MB
              //-canvas.media-canvas

            .text(ng-bind="deck.flashcards[deck.active].definition_text" spellcheck="false" ng-show="visible.definition == true")
          .answer-bar.btn-group
            button#btn-wrong.btn.btn-default(type="button" ng-click="answer(false)" ng-show="visible.answerButtons == true") Wrong
            button#btn-turn.btn.btn-default(type="button" ng-click="showAll()" ng-show="visible.answerButtons != true") Turn
            button#btn-right.btn.btn-default(type="button" ng-click="answer(true)" ng-show="visible.answerButtons == true") Right
        #stats(ng-if="visible.stats == true")
          p
            | Cards: 
            span(ng-bind="deck.flashcards.length")
          p
            | Correct answers: 
            span(ng-bind="stats.correct.percentage")
            |%
          p
            | Wrong answers: 
            span(ng-bind="stats.wrong.percentage")
            |%

            
      #content-right(ng-if="visible.stats == false")
        #study-options
          p
            | Study order: 
            .btn-group
              a#dropdownMenu(href="#" class="dropdown-toggle" data-toggle="dropdown")
                | {{stringifyStudyOrder(deck.study_order_id)}}
                span.caret
              ul.dropdown-menu(role="menu")
                li(role="presentation" ng-repeat="order in studyOrders")
                  a(role="menuitem" href="#" ng-bind="order" ng-click="setStudyOrder($index + 1)") 
          p 
            | Show first:
            select.form-control
              option(value="term") Term
              option(value="definition") Definition
              option(value="random") Random
              option(value="both") Both
        #flashcard-info 

