append head
  link(rel="stylesheet", href="/stylesheets/deck-edit.css")

append content
  #content
    #flashcard-editor
      #content-left
      #content-center
        #flashcard
          .term
            .text(ng-bind="deck.flashcards[deck.active].term_text" spellcheck="false" ng-show="showTerm == true")
          .definition
            //-.media.media-halfsize
              //-.upload-form
                //-button.btn-browse.btn.btn-primary(type="button" data-target="definition") Browse
              //-.upload-progress
                //-.percent
                //-.MB
              //-canvas.media-canvas

            .text(ng-bind="deck.flashcards[deck.active].definition_text" spellcheck="false" ng-show="showDefinition == true")
            
      #content-right
        #study-options
          input(type="radio" ng-model="studyOpt.showFirst" name="show-first" id="term" value="term")
          label(for="term") Term
          br
          input(type="radio" ng-model="studyOpt.showFirst" name="show-first" id="definition" value="definition")
          label(for="definition") Definition
          br
          input(type="radio" ng-model="studyOpt.showFirst" name="show-first" id="random" value="random")
          label(for="random") Random
          br
          input(type="radio" ng-model="studyOpt.showFirst" name="show-first" id="both" value="both")
          label(for="both") Both
          br
        #flashcard-info 

