#content-left
  //-#path(path)
  //-include ../includes/path
  
  #action-bar
    button#new-file.btn.btn-primary.btn-sm(data-toggle="modal" data-target="#new-file-modal") New file 

  br

  table#file-list.table.table-hover.table-condensed(ng-right-click="showContextMenu($event)")
    thead
      tr
        th.star
        th.file-type Type
        th.name Name
        th.study-mode Study mode
        th.owner Owner
        th.size Size
        th.percentage %
    //-tbody(ng-right-click="showContextMenu($event)")
    tbody
      tr.file-row(ng-repeat="file in folder.files" ng-cloak data-index="{{$index}}")
        td.star 
          span.star.starred.glyphicon.glyphicon-star(ng-if="file.starred")
          span.star.glyphicon.glyphicon-star-empty(ng-if="!file.starred")
        td.file-type
          span.glyphicon.glyphicon-folder-open(ng-if="file.type == 'folder'")
          span.glyphicon.glyphicon-file(ng-if="file.type == 'deck'")
          //-span.glyphicon.glyphicon-file
        td.filename
          a(ng-href="{{$location.path()}}/{{file.name | encodeURI}}")
            {{file.name}}
        td.study-mode
          .btn-group
            a#dropdownMenu(href="#" class="dropdown-toggle" data-toggle="dropdown")
              | {{stringifyStudyMode(file.study_mode)}}
              span.caret
            ul.dropdown-menu(role="menu")
              li(role="presentation" ng-repeat="mode in studyModes")
                a(role="menuitem" href="#" ng-bind="mode" ng-click="file.study_mode = $index + 1") 
        td.owner
          {{file.owner_name}}
        td.size
          {{file.size}}
        td.percentage
          {{file.percentage}}%
        td.file-id
          {{file.id}}
      
#content-right
  #file-details

#contextMenu.dropdown.clearfix
  ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;")
    li
      a#mi-study(tabindex="-1" ng-href="{{contextMenu.studyUrl | encodeURI}}") Study
    li
      a#mi-edit(tabindex="-1" ng-href="{{contextMenu.editUrl | encodeURI}}") Edit  
    li
      a#mi-rename(tabindex="-1" href="#" data-toggle="modal" data-target="#rename-file-modal") Rename
    li
      a#mi-move(tabindex="-1" href="#" data-toggle="modal" data-target="#move-file-modal" ng-click="getFileTree()") Move 
    li
      a#mi-copy(tabindex="-1" href="#" data-toggle="modal" data-target="#copy-file-modal" ng-click="getFileTree()") Copy
    li
      a#mi-delete(tabindex="-1" href="#" ng-click="deleteFile(selected)") Delete

.modal.fade(id="new-file-modal" role="dialog" aria-labelledby="Create a new file" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title#id="Create a new file"
      .modal-body
        form(role="form")
          .form-group
            label(for="filename-input") Filename
            input#filename-input.form-control(type="text" placeholder="Enter filename" ng-model="newFile.name" autofocus)
            label(for="folder") Folder
              input.form-control(type="radio" name="type" id="folder" ng-model="newFile.type" value="folder")
            label(for="deck") Deck 
              input.form-control(type="radio" name="type" id="deck" ng-model="newFile.type" value="deck")

      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") Close
        button.create-file(type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addFile()") Create 

.modal.fade(id="rename-file-modal" role="dialog" aria-labelledby="Rename" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title#id="Rename"
      .modal-body
        form(role="form")
          .form-group
            label(for="filename-input") Filename
            input#filename-input.form-control(type="text" placeholder="Enter a filename" ng-model="renameModal.filename" autofocus)

      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
        button.create-file(type="button" class="btn btn-primary" data-dismiss="modal" ng-click="renameFile(selected, renameModal.filename)") Rename

.modal.fade(id="move-file-modal" role="dialog" aria-labelledby="Move to" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title#id="Move to"
      .modal-body
        div.ft
          div.ft-row(ng-repeat="file in tree" ng-click="tree.selected = file")
            div.ft-data.ft-selected
              span.glyphicon.glyphicon-ok(ng-if="file.id == tree.selected.id")
            div.ft-data
              {{file.name}}

      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
        button.move-file(type="button" class="btn btn-primary" data-dismiss="modal" ng-click="moveFile(selected, tree.selected)") Move

.modal.fade(id="copy-file-modal" role="dialog" aria-labelledby="Move to" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title#id="Copy to"
      .modal-body
        div.ft
          div.ft-row(ng-repeat="file in tree" ng-click="tree.selected = file")
            div.ft-data.ft-selected
              span.glyphicon.glyphicon-ok(ng-if="file.id == tree.selected.id")
            div.ft-data
              {{file.name}}

      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
        button.copy-file(type="button" class="btn btn-primary" data-dismiss="modal" ng-click="copyFile(selected, tree.selected)") Copy
