nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand(href="#") Memorizy
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/features") Features
        li
          a(href="/mobile") Mobile 
        li
          a(href="/blog") Blog
        li
          a(href="/register") Sign up
        li
          a(href="/login") Sign in

