append content
  #content(ng-if="folder" ng-cloak ng-include="'/partials/file-navigation'" ng-controller="FileNavigationController")
  #content(ng-if="decks && action == 'edit'" ng-cloak ng-include="'/partials/deck-editor'" ng-controller="DeckEditorController")
  #content(ng-if="decks && action != 'edit'" ng-cloak ng-include="'/partials/deck-study'" ng-controller="DeckStudyController")

