mixin file-tree-modal(modalId, title, actionName)
	.modal.fade(id=modalId role="dialog" aria-labelledby=title aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
					h4.modal-title#id=title
				.modal-body
					
				.modal-footer
					button(type="button" class="btn btn-default" data-dismiss="modal") Close
					button.btn-action(type="button" class="btn btn-primary" data-dismiss="modal" data-action=actionName)=actionName


