extends layout

append head
  link(rel="stylesheet", href="/stylesheets/deck-edit.css")

append content
  #content
    include includes/path

    #flashcard-editor
      #content-left
        #list-flashcards.list-group

      #content-center
        nav#edit-tools
          a#btn-bold.btn-style(href="#" title="Bold")
            span.glyphicon.glyphicon-bold
          a#btn-italic.btn-style(href="#" title="Italic")
            span.glyphicon.glyphicon-italic
        #flashcard
          .term
            .text(contenteditable=true spellcheck="false" data-placeholder="Term")
            a.btn-image.btn-style(href="#" data-toggle="modal" data-target="#upload-img-modal" title="Upload an image")
              span.glyphicon.glyphicon-picture
          .definition
            .text(contenteditable=true spellcheck="false" data-placeholder="Definition")
            a.btn-image.btn-style(href="#" data-toggle="modal" data-target="#upload-img-modal" title="Upload an image")
              span.glyphicon.glyphicon-picture


      #content-right
        p test
        #flashcard-info 

    include includes/upload-image-modal

  script(src="/javascripts/html-sanitizer.js")

  //- Needs to be after the HTML code since it caches
  //- jQuery selectors
  script(src="/javascripts/deckedit.js")

  //- Configures the UI
  script.
    var deck = new DeckEditor(#{deck.id});
    deck.initializeFlashcardList(!{flashcards});
    editingEnv.setDeckEditor(deck);

  //- Used for text style
  script(src="/javascripts/rangy-core.js")
  script(src="/javascripts/rangy-cssclassapplier.js")
  script.
    var cssApplier;
    window.onload = function() {
      rangy.init();
      boldApplier = rangy.createCssClassApplier("bold", {normalize: true});
      italicApplier = rangy.createCssClassApplier("italic", {normalize: true});
    };
