extends layout

append head
  link(rel="stylesheet", href="/stylesheets/deck-edit.css")

append content
  #content
    include includes/path

    #flashcard-editor
      #content-left
        //- List of flashcards
        #list-flashcards.list-group

      #content-center
        nav#edit-tools
          a#btn-bold(href="#") Bold 
          a#btn-italic(href="#") Italic
        #flashcard
          .term(contenteditable=true spellcheck="false" data-placeholder="Term")
          .definition(contenteditable=true spellcheck="false" data-placeholder="Definition")

      #content-right
        p test
        #flashcard-info 

      #test

  script(src="/javascripts/html-sanitizer.js")

  //- Needs to be after the HTML code since it caches
  //- jQuery selectors
  script(src="/javascripts/deckedit.js")

  //- Configure the UI
  script.
    initializeFlashcardList(!{flashcards});
    editingEnv.setDeckEditor(new DeckEditor(#{deckId}));

  //- Used for text style
  script(src="/javascripts/rangy-core.js")
  script(src="/javascripts/rangy-cssclassapplier.js")
  script.
    var cssApplier;
    window.onload = function() {
      rangy.init();
      boldApplier = rangy.createCssClassApplier("bold", {normalize: true});
      italicApplier = rangy.createCssClassApplier("italic", {normalize: true});
    };
