doctype html
html(ng-app="memorizy")
  head
    block head
      title= title
      meta(http-equiv="content-type" content="text/html; charset=UTF-8")
      link(rel="stylesheet", href="/stylesheets/bootstrap.css")
      link(rel="stylesheet", href="/stylesheets/bootstrap-theme.css")
      link(rel="stylesheet", href="/stylesheets/common.css")
      link(rel="stylesheet" href="/stylesheets/cal-heatmap.css")

      script(src="/js/lib/jquery-2.0.3.js")
      script(src="/js/socket.io/socket.io.js")
      script(src="/js/socket.io/socketioUploader.js")
      script(src="/js/lib/bootstrap.js")
      script(src="/js/d3/d3.js")
      script(src="/js/calendar/cal-heatmap.js")

      script(src='/js/lib/angular/angular.js')
      script(src='/js/lib/angular/angular-route.js')
      script(src='/js/lib/angular/angular-resource.js')
      script(src='/js/lib/angular/angular-cookies.js')
      script(src='/js/lib/angular/angular-sanitize.js')

      script(src='/js/cssinjector/angular-css-injector.js')

      script(src='/js/markdown/to-markdown.js')

      script(src='/js/socket.io/SocketIOModel.js')

      script(src='/js/markdown/Markdown.Converter.js')
      script(src='/js/markdown/Markdown.Editor.js')
      script(src='/js/markdown/Markdown.Sanitizer.js')
      script(src='/js/markdown/markdown.js')

      script(src='/js/app.js')

      script(src='/js/navbar/NavbarCtrl.js')

      script(src='/js/login/Login.js')
      script(src='/js/login/LoginCtrl.js')
      script(src='/js/login/LoginModel.js')

      //-script(src='/js/auth/http-auth-interceptor.js')
      script(src='/js/storage/ngStorage.js')

      script(src='/js/filemanager/FileManager.js')
      script(src='/js/filemanager/FileManagerController.js')
      script(src='/js/filemanager/FileManagerProvider.js')

      script(src='/js/filenavigation/FileNavigation.js')
      script(src='/js/filenavigation/FileNavigationController.js')
      script(src='/js/filenavigation/FileNavigationProvider.js')

      script(src='/js/deckeditor/DeckEditor.js')
      script(src='/js/deckeditor/DeckEditorController.js')
      script(src='/js/deckeditor/DeckEditorModel.js')
      script(src='/js/deckeditor/DeckEditorDirective.js') 

      script(src="/js/upload/angular-file-upload-shim.min.js")
      script(src="/js/upload/angular-file-upload.min.js")

      script(src='/js/deckstudy/DeckStudy.js')
      script(src='/js/deckstudy/DeckStudyController.js')
      script(src='/js/deckstudy/StudySession.js')

      script(src='/js/calendar/Calendar.js')
      script(src='/js/calendar/CalendarController.js')
      script(src='/js/calendar/CalendarModel.js')
      script(src='/js/calendar/CalendarDirectives.js')

      script(src='/js/flashcard/Flashcard.js')
      script(src='/js/flashcard/FlashcardService.js')

      script(src='/js/focus/Focus.js')
      script(src='/js/focus/FocusDirective.js')
      script(src='/js/focus/FocusService.js')

      script(src='/js/keyboard/Keyboard.js')
      script(src='/js/keyboard/KeyboardDirectives.js')
      script(src='/js/keyboard/KeyboardManager.js')

      script(src='/js/mouse/Mouse.js')
      script(src='/js/mouse/MouseDirectives.js')

      script(src='/js/contenteditable/ContentEditable.js')
      script(src='/js/contenteditable/ContentEditableDirective.js')

      script(src='/js/encodeURI/encodeURI.js')
      script(src='/js/encodeURI/encodeURIFilter.js')

      script(src='/js/input/Input.js')
      script(src='/js/input/NumberDirectives.js')

  body
    block body 
      div(ng-if="user" ng-include="'/partials/navbar-logged-in'" ng-controller="NavbarCtrl")
      div(ng-if="!user" ng-include="'/partials/navbar-default'") 

      div(style="padding-top: 70px;")

      div(ng-view ng-if="user")
      div(ng-if="!user" ng-include="'/partials/login'" ng-controller="LoginCtrl")

