html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar {
  margin: 0;
}
.navbar-nav a.active {
  text-decoration: none;
  border-bottom: 5px solid lightgrey;
}
#path {
  display: inline-block;
  height: 1.2em;
  width: 70%;
  font-size: 1.2em;
  padding: 0;
  margin: 2% 0 2% 0;
  box-sizing: border-box;
  background-color: white;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
