#content {
  height: calc(100% - 80px);
  width: 90%;
  margin: auto;
  box-sizing: border-box;
}
/* Block dimensions */
/*@content-center-margin-top: @content-center-margin-bottom - @edit-tools-height;*/
#flashcard-editor {
  height: 500px;
}
#flashcard-editor > div {
  min-height: 450px;
}
#content-left {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 20%;
  padding: 0;
  margin: 0 -4px 0 0;
  overflow: auto;
  box-sizing: border-box;
}
#list-flashcards {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.list-group {
  margin-bottom: 0;
}
#list-flashcards .term,
#list-flashcards .definition {
  height: 1em;
  width: 95%;
  line-height: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-delete {
  position: absolute;
  top: 5%;
  right: 2%;
  width: 0.8em;
  font-size: 0.8em;
}
.btn-delete:hover {
  color: red;
}
.flashcard-item {
  /*width: 95%;*/
}
#content-center {
  display: inline-block;
  height: 100%;
  width: 450px;
  padding: 0;
  /* the flashcard is aligned vertically */
  margin: 0 calc((60% - 450px) / 2) 25px calc((60% - 450px) / 2);
  box-sizing: border-box;
}
/*
 * Assume that @edit-tools-height = 2em
 * and @edit-tools-font-size = 1.2em
 */
#edit-tools {
  height: 2em;
  margin: 0;
  padding: calc((2em - 1.2em) / 2) 0;
  font-size: 1.2em;
  text-align: right;
}
.btn-style {
  margin: 0 5px;
  color: #333333;
}
.btn-style:hover {
  color: black;
}
#btn-bold > span {
  font-weight: bold;
}
#btn-italic > span {
  font-style: italic;
}
.btn-image {
  position: absolute;
  visibility: hidden;
  top: 0px;
  right: 0px;
}
#flashcard {
  width: 450px;
  height: 450px;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 0 0 8px black;
}
#flashcard > .term,
#flashcard > .definition {
  position: relative;
  height: 50%;
  width: 100%;
  margin: 0;
  padding: 20px;
  font-size: 1.3em;
  box-sizing: border-box;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
#flashcard > .term {
  border-bottom: 1px solid black;
}
.media {
  display: none;
  height: 100%;
}
.upload-form {
  display: none;
  height: 100%;
  width: 100%;
  background-color: black;
  margin: auto;
  text-align: center;
}
.image-box {
  opacity: 0;
}
.media-thumbnail,
.media-halfsize,
.media-fullsize {
  display: inline-block;
  max-height: 100%;
  overflow: hidden;
}
.media-thumbnail {
  max-width: 50%;
}
.media-halfsize {
  width: 50%;
}
.media-fullsize {
  width: 100%;
}
.text {
  display: inline-block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
/*
 *.upload-image-form,
 *.image {
 *  display : none;
 *  height  : 100%;
 *  width   : 50%;
 *  margin  : 0 auto 0 0;
 *  background-color: red;
 *}
 */
#content-right {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 20%;
  padding: 0 5% 0 5%;
  margin: 0 -4px 0 0;
  border: 1px solid black;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
